_Store
*.xcworkspace
LCH.xcworkspace
.DS_Store
.Trashes
*.swp  
xcuserdata
Pods
*.lock
*~.nib
build/
*.pbxuser

#java
src/main/webapp/WEB-INF/classes
LCH/.classpath
LCH/.project
.classpath
.project
.settings
core-common/.settings
.externalToolBuilders

#android
build
*.iml
app/build
target
.idea
out
.gradle
.iml
local.properties
gradle.properties
other
rebel.xml
MANIFEST.MF
overlays
src/main/webapp/arcgis
src/main/webapp/bootstrap-3.3.5-dist
src/main/webapp/bootstrap-datetimepicker
src/main/webapp/js/fileupload
src/main/webapp/js/masonry
src/main/webapp/js/module/core
src/main/webapp/WEB-INF/uipage/module/core
src/main/webapp/WEB-INF/uipage/module/system
WebRoot/WEB-INF/classes
core-1.0.jar
junit-3.8.1.jar
project/web/newpage/02设计/PSD/网站2-assets
*.war

#js
node_modules
*.log
lib